<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <!-- orgname=request.POST["orgname"];
        orgpicture=request.FILES["orgpicture"];
        orgdetail=request.POST["orgdetail"]
        orgteacher=request.POST["orgteacher"]
        projectname=request.POST["projectname"] -->
    <!-- <form action="http://localhost:8080/projectadd/" enctype="multipart/form-data" method="post">
        <input type="text" name="projectname" id="">
        <input type="file" class="myfile modalInput" name="propicture" id="">
        <input type="text" name="prodetail" id="">
        <input type="text" name="proteacher" id="">
        <input type="text" name="charptertitle" id="">
        <input type="text" name="charpter" id="">
        <input type="text" name="charptercontent" id="">
        <input type="submit" value="提交">
    </form> -->
    <!-- teachername=request.POST["teachername"];
    teacherimg=request.FILES["teacherimg"];
    teacherage=request.POST["teacherage"]
    teacherdetail=request.POST["teacherdetail"]
    orgname=request.POST["orgname"]
    teachertype=request.POST["teachertype"] -->
    <!-- <form action="http://localhost:8080/orgadd/" enctype="multipart/form-data" method="post">
        <input type="text" name="orgname" id="">
        <input type="file" class="myfile modalInput" name="orgpicture" id="">
        <input type="text" name="orgdetail" id="">
        <input type="text" name="orgteacher" id="">
        <input type="text" name="projectname" id="">
        <input type="submit" value="提交">
    </form> -->
    <form action="http://localhost:8080/teacheradd/" enctype="multipart/form-data" method="post">
        <input type="text" name="teachername" id="">
        <input type="file" class="myfile modalInput" name="teacherimg" id="">
        <input type="text" name="teacherage" id="">
        <input type="text" name="teacherdetail" id="">
        <input type="text" name="orgname" id="">
        <input type="text" name="teachertype" id="">
        <input type="submit" value="提交">
    </form>
</body>
</html>